body{
    margin:0;
}
html{
    box-sizing: border-box;
    background-color: rgb(48, 48, 48);
}
*, *:before, *:after {
    box-sizing: inherit;
}
.about-section{
    padding: 50px;
    text-align: center;
    background-color: grey;
    color: white;
}
.images{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position:relative;
    padding-left: 25%;
}
